/*
Sass Variables
*/

$orange: #f57f29;
$tan: #f6f6e9;
$blue: #005792;
$darkblue: #13334c;
$white: #fff;
$i: !important;
$heading: 'Playfair Display', serif;
$body: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900');

// Salient Fixes

html { // ff font smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
.nectar-slider-loading {
    display: none !important;
}
.video-texture	{
	height: 100%;
	background-color: rgba(0,0,0,0.05);
    background-image: none $i;
}
@media only screen and (max-width: 1000px) and (min-width: 1px) {
	#header-outer[data-has-menu="false"][data-format="default"] header#top .span_3, #header-outer[data-has-menu="true"][data-mobile-fixed="1"] header#top .span_3, #header-outer[data-has-menu="true"][data-ptnm="1"] header#top .span_3, body.material #header-outer[data-has-menu="true"] header#top .span_3 {
	    text-align: center $i;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal $i;
}
.nectar-dropcap {
	color: $tan;
    padding: 12px 10px 0px 0;
}

//Logo

#logo {
	img {
		height: 160px $i;
		margin-top: -6px;
	}
}

//slider
.nassau_slide {
	.slide1 {
		.image-bg {
			background-position: center bottom $i;
		}
	}
	.content {
		display: none $i; // hiding for now
		h2 {
			line-height: 1.1 $i;
		}
		p {
			line-height: 1.1 $i;
		}
		background-color: $orange;
		padding: 50px $i;
		width: 50% $i;
		position: absolute;
		left: 0;
	}
}

.slider-box {
	@media screen and (max-width: 1000px) {
		position: relative $i;
		top: 0px $i;
	}
	position: absolute $i;
	top: 200px;
	h1 {
		font-family: $heading;
		font-size: 58px;
		font-weight: normal;
		line-height: 60px;
		color: $white;
		margin-right: -25px;
		padding-bottom: 8px;
		strong {
			font-size: 30px $i;
			font-family: $heading $i;
			font-weight: normal $i;
			clear: both;
			display: block;
			margin-bottom: -14px;
		}
	}
}

// Rows

.first_row {
	.welcome {
		h2 {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 32px;
			color: $tan;
			margin-bottom: 15px;
		}
		p {
			em {
				color: $tan;
				font-weight: 400 $i;
				letter-spacing: .5px;
			}
		}
	}
	.see20 {
		h2 {
			font-size: 56px $i;
			line-height: 52px $i;
			margin: 14px 0 $i;
		}
	}
	.pull-up {
	margin-top: -100px $i; 
	@media screen and (max-width: 1000px) {
		margin-top: 0px $i
	}
	img {
		max-width: 200px !important;
	    height: auto;
	    top: -140px !important;
	    margin-bottom: -140px !important;
	    @media screen and (max-width: 1000px) {
	    	top: 0px !important;
			margin-bottom: -20px !important;
		}
	}
	h2 {
		@media screen and (max-width: 1000px) {
			text-align: center $i;
		}
	}
	p {
		margin-bottom: 20px $i;
		font-size: 20px;
		@media screen and (max-width: 1000px) {
			text-align: center $i;
		}
	}
	.callnow {
		padding-top: 10px $i;
		i {
			font-size: 55px $i;
		}
		p {
			padding-bottom: 0px $i;
			margin-bottom: 0px $i;
			a {
				color: $tan;
				font-family: $heading;
				font-weight: normal $i;
				&:hover {
					color: $blue;
				}
			}
		}
	}
}
}


.being_across {
	h2 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500 $i;
		font-size: 32px;
		color: $orange;
		margin-bottom: 15px;
	}
	p {
		padding-right: 5%;
		strong, b {
			font-family: $heading;
			font-weight: normal $i;
			font-size: 30px;
			color: $orange;
		}
	}
}
.live_work {
	h2 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500 $i;
		font-size: 32px;
		color: $darkblue;
		text-align: left $i;
		margin-bottom: 15px;
	}
	p {
		color: $darkblue $i;
	}
	.nectar-dropcap {
		color: $darkblue $i;
	}
}
.history_row {
	h2 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500 $i;
		font-size: 32px;
		color: $darkblue;
		text-align: left $i;
		margin-bottom: 15px;
	}
}
.neighborhood {
	h2 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500 $i;
		font-size: 32px;
		color: $tan;
		text-align: left $i;
		margin-bottom: 15px;
	}
}
.under_slide {
	background-color: $darkblue;
	padding-top: 10% $i;
	padding-bottom: 10% $i;
	p {
		font-family: $heading;
		font-size: 32px;
		line-height: 36px;
		color: $tan;
	}
}
.last_cta {
	h2 {
		color: $white;
		font-size: 40px;
	}
	p {
		color: $white;
		margin-bottom: 10px $i;
		a {
			color: $blue;
			font-family: $heading;
		}
	}
	.nectar-button {
		margin-top: 15px;
		i {
			font-size: 30px $i;
		}
	}
	.nectar_icon_wrap {
		margin-top: 10px;
		margin-bottom: 10px;
		i {
			font-size: 60px $i;
		}
	}
}

// GALLERY PAGE

.work-info-bg {
	background-color: $darkblue $i;
}

// SERVICES PAGE

.services_page {
	h1 {
		a {
			color: $darkblue;
			padding: 20px 40px;
			background-color: $tan;
		}
	}
}

// CONTACT 

.aerial_shot {
	background-position: center 100% !important;
    background-size: cover;
    height: 400px !important;
}
.gform_wrapper {
	margin: 0px $i;
}
body[data-form-style="minimal"] .minimal-form-input {
    padding-top: 20px $i;
}
body[data-form-style="minimal"] .span_12.light .minimal-form-input label span.text .text-inner {
    color: rgb(255, 255, 255)!important;
    font-size: 16px;
}
body[data-form-submit="regular"] .container-wrap input[type=submit], body[data-form-submit="regular"] .container-wrap button[type=submit], body[data-form-submit="see-through"] .container-wrap input[type=submit], body[data-form-submit="see-through"] .container-wrap button[type=submit] {
	padding: 20px 60px $i; 
}
body[data-form-style="minimal"] .span_12.light .minimal-form-input label:before, body[data-form-style="minimal"] .span_12.light .minimal-form-input label:after {
    border-bottom: 3px solid rgba(255,255,255,0.3);
}
body[data-form-style=minimal] .minimal-form-input label:before, body[data-form-style=minimal] .minimal-form-input label:after {
    border-bottom: 3px solid #fff;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	width: 100% $i;
}
body[data-form-style="minimal"] .minimal-form-input label:before, body[data-form-style="minimal"] .minimal-form-input label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 3px;
    border-bottom: 3px solid #e0e0e0;
}
.gform_wrapper div.validation_error {
    color: #ff3434 $i;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    border-top: 2px solid #ff3434 $i;
    border-bottom: 2px solid #ff3434 $i;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    padding: 14px 10px !important;
    border: 1px solid #790000;
}
.gform_wrapper .gfield_error .gfield_label, .gform_wrapper .validation_message {
    color: #ff3434 $i;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: rgba(255,223,224,.0) $i;
    margin-bottom: 6px!important;
    border-top: 0px solid #ff3434 $i;
    border-bottom: 0px solid #ff3434 $i;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    box-sizing: border-box;
}
.gform_wrapper {
	.minimal-form-input label span.text {
		color: $tan $i;
	}
	ul.gform_fields {
		width: 100% $i;
	}
}
.gform_footer {
	.gform_button {
		font-family: $body $i;
		font-weight: 600;
		padding: 10px 30px $i;
	}
}

//POSTS

.grav-wrap {display: none}
#sidebar {
	h4 {
		font-size: 20px $i;
		margin-bottom: 5px $i;
	}
	.cat-item {
		a {
			background-color: $blue;
		    display: inline-block !important;
		    color: #fff;
		    border-radius: 10px;
		    padding: 0px 12px 2px !important;
		    font-size: 15px;
		    font-weight: 600;
		}
	}
}

.single-post {
	h3 {
		margin-bottom: 30px $i;
	}
	#single-below-header {
		span {
			font-size: 18px $i;
			margin-top: 10px $i;
		}
		.meta-category {
			font-weight: 800 $i;
			font-style: italic;
		}
	}
	blockquote {
		font-family: $heading;
		width: 80%;
		padding: 0 5%;
		border-left: 4px solid $orange;
	}
}
