/*
Sass Variables
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900");
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

.nectar-slider-loading {
  display: none !important;
}

.video-texture {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none !important;
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  #header-outer[data-has-menu=false][data-format=default] header#top .span_3, #header-outer[data-has-menu=true][data-mobile-fixed="1"] header#top .span_3, #header-outer[data-has-menu=true][data-ptnm="1"] header#top .span_3, body.material #header-outer[data-has-menu=true] header#top .span_3 {
    text-align: center !important;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
}

.nectar-dropcap {
  color: #f6f6e9;
  padding: 12px 10px 0px 0;
}

#logo img {
  height: 160px !important;
  margin-top: -6px;
}

.nassau_slide .slide1 .image-bg {
  background-position: center bottom !important;
}
.nassau_slide .content {
  display: none !important;
  background-color: #f57f29;
  padding: 50px !important;
  width: 50% !important;
  position: absolute;
  left: 0;
}
.nassau_slide .content h2 {
  line-height: 1.1 !important;
}
.nassau_slide .content p {
  line-height: 1.1 !important;
}

.slider-box {
  position: absolute !important;
  top: 200px;
}
@media screen and (max-width: 1000px) {
  .slider-box {
    position: relative !important;
    top: 0px !important;
  }
}
.slider-box h1 {
  font-family: "Playfair Display", serif;
  font-size: 58px;
  font-weight: normal;
  line-height: 60px;
  color: #fff;
  margin-right: -25px;
  padding-bottom: 8px;
}
.slider-box h1 strong {
  font-size: 30px !important;
  font-family: "Playfair Display", serif !important;
  font-weight: normal !important;
  clear: both;
  display: block;
  margin-bottom: -14px;
}

.first_row .welcome h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 32px;
  color: #f6f6e9;
  margin-bottom: 15px;
}
.first_row .welcome p em {
  color: #f6f6e9;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
}
.first_row .see20 h2 {
  font-size: 56px !important;
  line-height: 52px !important;
  margin: 14px 0 !important;
}
.first_row .pull-up {
  margin-top: -100px !important;
}
@media screen and (max-width: 1000px) {
  .first_row .pull-up {
    margin-top: 0px !important;
  }
}
.first_row .pull-up img {
  max-width: 200px !important;
  height: auto;
  top: -140px !important;
  margin-bottom: -140px !important;
}
@media screen and (max-width: 1000px) {
  .first_row .pull-up img {
    top: 0px !important;
    margin-bottom: -20px !important;
  }
}
@media screen and (max-width: 1000px) {
  .first_row .pull-up h2 {
    text-align: center !important;
  }
}
.first_row .pull-up p {
  margin-bottom: 20px !important;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .first_row .pull-up p {
    text-align: center !important;
  }
}
.first_row .pull-up .callnow {
  padding-top: 10px !important;
}
.first_row .pull-up .callnow i {
  font-size: 55px !important;
}
.first_row .pull-up .callnow p {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.first_row .pull-up .callnow p a {
  color: #f6f6e9;
  font-family: "Playfair Display", serif;
  font-weight: normal !important;
}
.first_row .pull-up .callnow p a:hover {
  color: #005792;
}

.being_across h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500 !important;
  font-size: 32px;
  color: #f57f29;
  margin-bottom: 15px;
}
.being_across p {
  padding-right: 5%;
}
.being_across p strong, .being_across p b {
  font-family: "Playfair Display", serif;
  font-weight: normal !important;
  font-size: 30px;
  color: #f57f29;
}

.live_work h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500 !important;
  font-size: 32px;
  color: #13334c;
  text-align: left !important;
  margin-bottom: 15px;
}
.live_work p {
  color: #13334c !important;
}
.live_work .nectar-dropcap {
  color: #13334c !important;
}

.history_row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500 !important;
  font-size: 32px;
  color: #13334c;
  text-align: left !important;
  margin-bottom: 15px;
}

.neighborhood h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500 !important;
  font-size: 32px;
  color: #f6f6e9;
  text-align: left !important;
  margin-bottom: 15px;
}

.under_slide {
  background-color: #13334c;
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}
.under_slide p {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 36px;
  color: #f6f6e9;
}

.last_cta h2 {
  color: #fff;
  font-size: 40px;
}
.last_cta p {
  color: #fff;
  margin-bottom: 10px !important;
}
.last_cta p a {
  color: #005792;
  font-family: "Playfair Display", serif;
}
.last_cta .nectar-button {
  margin-top: 15px;
}
.last_cta .nectar-button i {
  font-size: 30px !important;
}
.last_cta .nectar_icon_wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}
.last_cta .nectar_icon_wrap i {
  font-size: 60px !important;
}

.work-info-bg {
  background-color: #13334c !important;
}

.services_page h1 a {
  color: #13334c;
  padding: 20px 40px;
  background-color: #f6f6e9;
}

.aerial_shot {
  background-position: center 100% !important;
  background-size: cover;
  height: 400px !important;
}

.gform_wrapper {
  margin: 0px !important;
}

body[data-form-style=minimal] .minimal-form-input {
  padding-top: 20px !important;
}

body[data-form-style=minimal] .span_12.light .minimal-form-input label span.text .text-inner {
  color: white !important;
  font-size: 16px;
}

body[data-form-submit=regular] .container-wrap input[type=submit], body[data-form-submit=regular] .container-wrap button[type=submit], body[data-form-submit=see-through] .container-wrap input[type=submit], body[data-form-submit=see-through] .container-wrap button[type=submit] {
  padding: 20px 60px !important;
}

body[data-form-style=minimal] .span_12.light .minimal-form-input label:before, body[data-form-style=minimal] .span_12.light .minimal-form-input label:after {
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

body[data-form-style=minimal] .minimal-form-input label:before, body[data-form-style=minimal] .minimal-form-input label:after {
  border-bottom: 3px solid #fff;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  width: 100% !important;
}

body[data-form-style=minimal] .minimal-form-input label:before, body[data-form-style=minimal] .minimal-form-input label:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 3px;
  border-bottom: 3px solid #e0e0e0;
}

.gform_wrapper div.validation_error {
  color: #ff3434 !important;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
  border-top: 2px solid #ff3434 !important;
  border-bottom: 2px solid #ff3434 !important;
  padding: 16px 0;
  clear: both;
  width: 100%;
  text-align: center;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  padding: 14px 10px !important;
  border: 1px solid #790000;
}

.gform_wrapper .gfield_error .gfield_label, .gform_wrapper .validation_message {
  color: #ff3434 !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: rgba(255, 223, 224, 0) !important;
  margin-bottom: 6px !important;
  border-top: 0px solid #ff3434 !important;
  border-bottom: 0px solid #ff3434 !important;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  box-sizing: border-box;
}

.gform_wrapper .minimal-form-input label span.text {
  color: #f6f6e9 !important;
}
.gform_wrapper ul.gform_fields {
  width: 100% !important;
}

.gform_footer .gform_button {
  font-family: "Lato", sans-serif !important;
  font-weight: 600;
  padding: 10px 30px !important;
}

.grav-wrap {
  display: none;
}

#sidebar h4 {
  font-size: 20px !important;
  margin-bottom: 5px !important;
}
#sidebar .cat-item a {
  background-color: #005792;
  display: inline-block !important;
  color: #fff;
  border-radius: 10px;
  padding: 0px 12px 2px !important;
  font-size: 15px;
  font-weight: 600;
}

.single-post h3 {
  margin-bottom: 30px !important;
}
.single-post #single-below-header span {
  font-size: 18px !important;
  margin-top: 10px !important;
}
.single-post #single-below-header .meta-category {
  font-weight: 800 !important;
  font-style: italic;
}
.single-post blockquote {
  font-family: "Playfair Display", serif;
  width: 80%;
  padding: 0 5%;
  border-left: 4px solid #f57f29;
}

/*# sourceMappingURL=style.css.map */
